h2 {
    text-align: center;
    margin-top: 30px;
}

a {
    color: rgb(111, 49, 211);
    font-weight: bold;
    text-decoration: none;
    font-family: monospace;
    font-size: 1.25em;
}

a:hover {
    color: rgb(65, 49, 211);
}

.container {
    width: 85%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 30px;
}

.container .buttons {
    text-align: right;
}

.category {
    color:rgb(160, 155, 155);
    font-family: monospace;
    margin-bottom: 0;
    padding: 0;
}

.thumbnail {
    padding: 20px;
    border: 3px rgb(235, 229, 229) solid;
    border-radius: 10px;
    margin: 20px 20px;
}

.thumbnail img {
    object-fit: contain;
    display: block;
    margin: auto;
}

#add-btn {
    background-color: rgb(49, 182, 82);
    border: none;
    border-radius: 10px;
    padding: 10px 30px;
    font-size: 2em;
    font-weight: bold;
    color: #ffffff;
    margin: auto;
    cursor: pointer;
    transition: transform 250ms ease-in-out;
}

#add-btn:hover {
    transform: scale(1.05);
}

#edit-btn {
    border: none;
    background-color: rgb(202, 140, 68);
    color: white;
    padding: 5px 5px 5px 8px;
    margin-right: 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 250ms ease-in-out;
}

#delete-btn {
    border: none;
    background-color: rgb(185, 39, 39);
    color: white;
    padding: 5px 9px;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 250ms ease-in-out;
}